@import "tailwindcss";

@custom-variant dark (&.dark, .dark &);

@theme inline {
  --color-background: #09090b;
  --color-foreground: #f4f4f5;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html, body {
  background: var(--color-background);
  color: var(--color-foreground);
  height: 100%;
}
